<header class="sitewide">

	<h1>
		{% if page.header_html %}
			{{ page.header_html }}
		{% else %}
			<a href="/{{ page.part }}">anotherkamila/<span class="hl">{{ page.part }}</span></a>
		{% endif %}
	</h1>
	<nav>
		{% if page.header_nav %}
			{% for item in page.header_nav %}
				{{ item }}
			{% endfor %}
		{% else %}
			<a href='/{{ page.part }}'>{{ page.part }} home</a>
			{% for item in page.add_to_nav %}
				<a href="{{ item[1] }}">{{ item[0] }}</a>
			{% endfor %}
			|
			<a href='/'>home</a>
		{% endif %}
	</nav>

	{% if page.forkme %}
		<a href="http://github.com/{{ page.forkme }}"><img style="position: absolute; top: 0; right: 0; z-index: -1" src="assets/forkme.png" alt="Fork me on GitHub"></a>
	{% endif %}

	<div class="sawtooth"></div>
</header>
