<header class="sitewide">

	<h1>
		{% if page.header_html %}
			{{ page.header_html }}
		{% else %}
			<a href="/">anotherkamila</a><a class="hl" href="/{{ page.part }}">/{{ page.part }}</a>
		{% endif %}
	</h1>
	<nav>
		{% if page.set_nav %}
			{% for item in page.set_nav %}
				<a href="{{ item[1] }}">{{ item[0] }}</a>
			{% endfor %}
		{% else %}
			{% if page.part %}
				<a href='/{{ page.part }}'>{{ page.part }} home</a>
			{% endif %}
			{% for item in page.add_to_nav %}
				<a href="{{ item[1] }}">{{ item[0] }}</a>
			{% endfor %}
		{% endif %}
		{% if page.set_nav or page.part or page.add_to_nav %}|{% endif %}
		<a href='/'>home</a>
	</nav>

	{% if page.forkme %}
		<a href="http://github.com/{{ page.forkme }}"><img style="position: absolute; top: 0; right: 0; z-index: -1" src="assets/forkme.png" alt="Fork me on GitHub"></a>
	{% endif %}

	<div class="sawtooth"></div>
</header>
