body {
	font-family: "Liberation Sans", sans-serif;
	font-size: 11pt;
	background: #fff;
	color: #222;
	margin: 0;
	line-height: 1.1;
	text-rendering: optimizeLegibility;
}

#wrapper {
	margin: 4em auto;
	max-width: 60em;
	width: 80%;
}

h1 {
	margin: .8em 0;
}
.summary {
	font-size: 0.6em;
	font-weight: normal;
	color: #666;
	position: relative;
	top: -0.18em;
}
.basic-info { width: 48%; margin: -1em 0; }
.basic-info:before,
.basic-info:after {
	content: " ";
}
.basic-info:after { clear: both; }
.fleft { float: left; }
.fright { float: right; }

h1, h2, h3, h4 {
	font-weight: normal;
}
h2, h3, h4 {
	margin: 1em 0;
	color: #0af;
}
h2 {
	position: relative;
}
h2 span {
	background: #fff;
	display: inline-block;
	padding: 0 0.6em 0 0;
}
h2:after {
	position: absolute;
	top: 0.6em;
	z-index: -1;
	content: '';
	display: block;
	width: 100%;
	border-top: 1px solid #0af;
}

dt {
	font-weight: bold;
}

ul li span {
	font-style: italic;
	color: #666;
	margin-left: 0.6em;
}

a {
	color: #0af;
}
a:visited {
	color: #84f;
}
a:active {
	color: #f0a;
}

img {
	margin-top: 0.22em;
	float: left;
	margin-right: 0.6em;
	height: 1.9em;
}

@media print {
	body {
		font-size: 10pt;
		letter-spacing: 0.03em;
		text-rendering: optimizeLegibility;
	}

	.page-break {
		page-break-before: always;
	}
}

