body {
	color: #333;
	background: #fafafa;
}

a, a:visited {
	color: #777;
	text-decoration: none;
	border-bottom: 1px solid #777;
}
a:hover, a:active {
	border-color: #07f;
}

img {
	border: 0;
}

.left{float:left;}
.right{float:right;}

/* header, footer */

header.sitewide,
footer.sitewide {
	background: #252525;
	text-shadow: 0 -2px 1px #000;
	color: #777;
	z-index: 1;
}
footer.sitewide {
	-moz-box-shadow: 0 -3px 45px #000;
	-webkit-box-shadow: 0 -3px 45px #000;
	box-shadow: 0 -3px 45px #000;
}

header.sitewide {
	position: relative;
	padding: 1.5em 2.5em;
	-moz-box-shadow: 0 5px 40px #000;
	-webkit-box-shadow: 0 5px 40px #000;
	box-shadow: 0 5px 40px #000;
}

.sitewide .sawtooth {
	position: absolute;
	left: 0;
	width: 100%;
	height: 11px;
	background: url(sawtooth.png) repeat-x;
}
header.sitewide .sawtooth {
	background-position: center 0;
	bottom: 0;
	margin-bottom: -11px;
	z-index: -2;
}
footer.sitewide .sawtooth {
	background-position: center -11px;
	top: 0;
	margin-top: -11px;
}
header.sitewide h1 {
	display: block;
	width: 50%;
	line-height: 1.2;
	text-shadow: 0 -3px 2px #000;
}
header.sitewide a,
header.sitewide a:visited {
	border-bottom: 0;
	color: #777;
}
header.sitewide h1 a {
	-moz-transition: color 0.3s linear;
	-webkit-transition: color 0.3s linear;
	-o-transition: color 0.3s linear;
	transition: color 0.3s linear;
}
header.sitewide h1 a:hover,
header.sitewide h1 a:hover span {
	color: #0af;
}
header.sitewide a.hl {
	color: #ddd;
}

/* nav */
header.sitewide nav {
	position: absolute;
	right: 100px;
	top: 50%;
	margin-top: -0.8em;
}
footer.sitewide nav {
	text-align: center;
}
.sitewide nav a {
	border: none;
}
.sitewide nav:hover a { /* do no target | */
	color: #555;
	text-shadow: 0 0 3px #aaa;
}
.sitewide nav a:hover {
	color: #0af;
	text-shadow: 0 -2px 1px #000;
}

/* content */
.content {
	width: 70%;
	margin: 0 auto;
	padding: 7em 0 10em 0;
	line-height: 1.6;
	color: #252525;
	position: relative;
	z-index: 0;
}

/* === typography === */

/* sane defaults - some things from http://github.com/necolas/normalize.css */
abbr[title] {
	border-bottom: 1px dotted;
}
mark {
	background: #ff0;
	color: #000;
}
pre, code, kbd, samp {
	font-family: 'Consolas', 'Courier New', monospace;
	font-size: 0.92em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

small {
	font-size: 75%;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

ul, ol {
	margin-left: 0;
	padding: 0 0 0 40px;
}

a[rel=footnote], a[rev=footnote] {
	border-bottom: none;
	font-style: italic;
	font-weight: bold;
	font-size: 1.2em;
}
a[rel=footnote]:hover, a[rev=footnote]:hover {
	border-bottom: none;
	color: #0af;
}

.content h1 {
	display: block;
	margin: 1.5em 0 0.8em 0;
}

.content article {
	margin: 1em 0 2em 0;
}
.content article header {
	position: relative;
	padding: 0.8em 0;
}

.content article h1 {
	font-size: 1.6em;
	margin: 0;
}

.content article h1 a {
	color: inherit;
	border: 0;
}
.content article h1 a:hover {
	color: #777;
}
.content article h1 a:hover:after {
	content: '→';
	color: #333;
	margin-left: 0.6em;
}

.meta {
	font-size: 0.8em;
}
.content article header .meta {
	color: #777;
	display: block;
	position: absolute;
}
.content article header .meta.date {
	line-height: 1.7;
	top: 2em;
	left: -18%;
	width: 16%;
	text-align: right;
}
.content article header .meta .hl {
	color: #333;
}
.content article header .meta.cats {
	left: 0;
	top: 3.9em;
}
.posts-list .meta {
	position: relative;
	top: -0.2em;
}
p.tagline {
	margin: 0;
	color: #777;
	font-style: italic;
}

.navlink {
	border: 0;
}
.navlink:hover {
	color: #0af;
}


p {
	margin: .7em 0;
}

.content h2 {
	font-size: 1.3em;
}

.content ul {
	list-style: none;
	list-style-type: none;
	margin: 0; padding: 0;
}
.content ul li:before {
	position: absolute;
	display: inline-block;
	left: .3em;
	content: '→';
	color: #777;
}
.content ul li {
	padding-left: 1.6em;
}
.posts-list a {
	color: #333;
}
.posts-list a .meta {
	color: #777;
}

code.shell,
code.shell::before {
	display: inline-block;
	padding: 0.2em 0.4em;
	margin: 0;
	background: #f5f5f5;
	border: 1px solid #e1e1e1;
}
code.shell::before {
	content: '$';
	color: #777;
	background: #e2e2e2;
	margin: -0.2em .6em -0.2em -0.4em;
}

.intro {
	font-size: 1.5em;
	color: #777;
}
.intro .hl {
	color: #252525;
	margin-bottom: 1.5em;
}

section {
	margin: 2em 0;
}

.hanging {
	position: absolute;
	top: -5em;
	right: 15%;
	padding-top: 5em;
	border: 1px solid #777;
	z-index: 1;
	-moz-box-shadow: 1px 2px 18px rgba(0,0,0,0.7);
	-webkit-box-shadow: 1px 2px 18px rgba(0,0,0,0.7);
	box-shadow: 1px 2px 18px rgba(0,0,0,0.7);
	background: #252525;
}
.hanging a {
	display: block;
	padding: .7em;
	color: #ddd;
	font-size: 1.2em;
	text-shadow: 0 -3px 2px #000;
	text-align: center;
	border: 0;
	margin-top: -2em;
	line-height: 1.4;
	-moz-transition: margin 0.2s ease-out;
	-webkit-transition: margin 0.2s ease-out;
	-o-transition: margin 0.2s ease-out;
	-ms-transition: margin 0.2s ease-out;
	transition: margin 0.2s ease-out;
}
.hanging a:hover {
	margin-top: 15px;
}


#disqus_thread {
	margin-top: 3.2em;
}

ul.projects-list li {
	display: block;
	padding: .8em 2.5%;
	height: 48px;
}
ul.projects-list li .icon {
	float: left;
	display: inline-block;
	width: 48px;
	height: 48px;
}
ul.projects-list li a h1 {
	display: inline-block;
	width: 70%;
	height: 48px;
	line-height: 48px;
	margin: 0 .7em;
	font-size: 1.4em;
	-moz-transition: color .4s linear;
	-webkit-transition: color .4s linear;
	-o-transition: color .4s linear;
	transition: color .4s linear;
}
ul.projects-list li a:hover h1 { color: #0af; }
ul.projects-list li:before {
	position: auto;
	content: none;
}
ul.projects-list a {
	border-bottom: none;
}

.content aside.image {
	float: right;
}
.content aside.image div {
	width: 250px;
	margin: 1em; margin-right: 0;
	margin-top: 0;
}

.content aside.image a {
	border: none;
	padding: 0;
}

.content aside.image p {
	margin: 0;
	font-size: 0.8em;
}

.content aside.image:nth-of-type(even) {
	float: left;
	clear: both;
}
.content aside.image:nth-of-type(even) div {
	margin: 1em; margin-left: 0;
	margin-top: 0;
	text-align: right;
}

.content .footnotes hr {
	clear: both;
}
