---
title: Blog
layout: blog
---

<ul>
    {% for post in site.posts %}
    	<article>

    		<header>
    			<h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
    			<span class="meta date">{{ post.date | date: "<span class='hl'>%a,</span><br /> %d %b '%y" }}</span>
    			<span class="meta cats">
    					{% if post.categories == empty %}
    						not categorized
    					{% else %}
    						filed under {{ post.categories | array_to_sentence_string }}
    					{% endif %}
    			</span>
    		</header>

            {% if post.tagline %}
                <p class="tagline">{{ post.tagline }}</p>
            {% endif %}
        	{% if post.excerpt %}
        		{{ post.excerpt | markdownify }}
        		<a class="navlink right" href="{{ post.url }}"><span style="opacity:0.2">–</span> <span style="opacity:0.4">–</span> <span style="opacity:0.6">–</span> <span style="opacity:0.8">–</span> – – – – – – – more →</a>
        	{% else %}
        		{{ post.content }}
        	{% endif %}

        </article>
    {% endfor %}
</ul>
